asgiref==3.3.1
Django==3.1.6
fpdf==1.7.2
gensim==3.8.3
numpy==1.20.1
Pillow==8.1.2
pytz==2021.1
reportlab==3.5.65
scipy==1.6.1
six==1.15.0
smart-open==4.2.0
sqlparse==0.4.1
torch>=0.4.0
tensorflow
keras
librosa
