<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}">
    <title>IMOM</title>
</head>
<body>
    <nav>
        <ul class="navout">
            <li class="list"><a href="{% url 'upload_audio' %}" class="link">Home</a></li>
            <li class="list"><a href="{% url 'history' %}" class="link">History</a></li>
            <li class="list"><a href="{% url 'myaccount' %}" class="link">Account</a></li>
            <li class="list"><a href="{% url 'logout' %}" class="link">Logout</a></li>
        </ul>
    </nav>
    <div style="padding: 60px 80px;">
            <table style="width:100%">
                <tr>
                    <td style="width: 40%;"><p style="font-size:115%">utyghjkfnvmbld</p></td>
                    <td style="width: 30%;"><button class="submit">Download Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Generate Text Summary</button></td>
                </tr>
                <tr>
                    <td style="width: 40%;background-color:#eee"><p style="font-size:115%">asdfzxvcghbnjm</p></td>
                    <td style="width: 30%;"><button class="submit">Download Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Download Text Summary</button></td>
                </tr>
                <tr>
                    <td style="width: 40%;"><p style="font-size:115%">dsadnasjbdaskd</p></td>
                    <td style="width: 30%;"><button class="submit">Generate Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Generate Text Summary</button></td>
                </tr>
                <tr>
                    <td style="width: 40%;background-color:#eee"><p style="font-size:115%">zxcfghuiolkjhn</p></td>
                    <td style="width: 30%;"><button class="submit">Generate Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Generate Text Summary</button></td>
                </tr>
                   <tr>
                    <td style="width: 40%;"><p style="font-size:115%">mnjkluiopyhgvb</p></td>
                    <td style="width: 30%;"><button class="submit">Download Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Download Text Summary</button></td>
                </tr>
                   <tr>
                    <td style="width: 40%;background-color:#eee"><p style="font-size:115%">qwertyuioplkjh</p></td>
                    <td style="width: 30%;"><button class="submit">Generate Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Download Text Summary</button></td>
                </tr>
                   <tr>
                    <td style="width: 40%;"><p style="font-size:115%">htyuoiorghbnjh</p></td>
                    <td style="width: 30%;"><button class="submit">Download Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Generate Text Summary</button></td>
                </tr>
                   <tr>
                    <td style="width: 40%;background-color:#eee"><p style="font-size:115%">lkjhnmyuiewghj</p></td>
                    <td style="width: 30%;"><button class="submit">Generate Transcript</button></td>
                    <td style="width: 30%;"><button class="submit">Generate Text Summary</button></td>
                </tr>

            </table>
        </div>
</body>
</html>
