<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}">
    <title>IMOM</title>
</head>
<body>
    <nav>
        <ul class="navout">
            <li class="list"><a href="{% url 'upload_audio' %}" class="link">Home</a></li>
            <li class="list"><a href="{% url 'history' %}" class="link">History</a></li>
            <li class="list"><a href="{% url 'myaccount' %}" class="link">Account</a></li>
            <li class="list"><a href="{% url 'logout' %}" class="link">Logout</a></li>
        </ul>
    </nav>
    <div style="padding: 60px 80px;">
            <table style="width:100%">
                {% for obj in Audiofiles_obj %}
                    {% if  not forloop.counter|divisibleby:2 %}
                        <tr>
                            <td style="width: 25%;"><p style="font-size:115%">{{obj.audio_name}}</p></td>
                            <td style="width: 30%;"><audio controls>
                                     <source src="{{MEDIA_URL}}media/{{obj.audio_name}}" type="audio/wav">
                                 </audio>
                            </td>
                            {% if obj.number == 1 %}
                                <td style="width: 23%;">
                                    <a href="{% url 'preview' id=forloop.counter id1=1%}">
                                        <button class="submit" name="generate_t">Generate Transcript</button>
                                    </a>
                                </td>
                            {% else %}
                                <td style="width: 22%;">
                                    <a href="{% url 'preview' id=forloop.counter id1=2%}">
                                        <button class="submit">Download Transcript</button>
                                    </a>
                                </td>
                                {% if obj.number == 2 %}
                                    <td style="width: 22%;">
                                        <a href="{% url 'preview' id=forloop.counter id1=3%}">
                                            <button class="submit" name="generate_s">Generate Summary</button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td style="width: 22%;">
                                        <a href="{% url 'preview' id=forloop.counter id1=4%}">
                                            <button class="submit">Download Summary</button>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td style="width: 25%;background-color:#eee"><p style="font-size:115%">{{obj.audio_name}}</p></td>
                            <td style="width: 30%;"><audio controls>
                                     <source src="{{MEDIA_URL}}media/{{obj.audio_name}}" type="audio/wav">
                                 </audio>
                            </td>
                            {% if obj.number == 1 %}
                                <td style="width: 23%;">
                                    <a href="{% url 'preview' id=forloop.counter id1=1%}">
                                        <button class="submit">Generate Transcript</button>
                                    </a>
                                </td>
                            {% else %}
                                <td style="width: 22%;">
                                    <a href="{% url 'preview' id=forloop.counter id1=2%}">
                                        <button class="submit">Download Transcript</button>
                                    </a>
                                </td>
                                {% if obj.number == 2%}
                                    <td style="width: 22%;">
                                        <a href="{% url 'preview' id=forloop.counter id1=3%}">
                                            <button class="submit">Generate Summary</button>
                                        </a>
                                    </td>
                                {% else %}
                                    <td style="width: 22%;">
                                        <a href="{% url 'preview' id=forloop.counter id1=4%}">
                                            <button class="submit">Download Summary</button>
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
</body>
</html>
